{% extends 'base.html.twig' %}
{% form_theme requestForm 'fields.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div id="resetPassword">
        <div class="content-profile container">
            <div class="masonry-grid row">
                <div class="masonry-grid-sizer col-sm-3"></div>
                <div class="masonry-grid-item col-sm-6">
                    {{ form_start(requestForm) }}
                        <fieldset>
                            <legend>Сбросить пароль</legend>
                            {% for flashError in app.flashes('reset_password_error') %}
                                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                            {% endfor %}
                            {{ form_row(requestForm.email) }}
                            <div class = "margin-b-30">
                                <small>
                                    Введите свой адрес электронной почты, и мы отправим вам ссылку для сброса пароля.
                                </small>
                            </div>
                            <div class = "margin-b-20">
                                <button class="btn-theme btn-theme-sm btn-white-bg text-uppercase">
                                    Отправить ссылку
                                </button>
                            </div>

                            {% include('/paths/footer_form_links.html.twig') %}

                        </fieldset>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}