<p style = "font-size: 14px!important;font-weight: normal;color: rgb(18, 43, 46);">Если возникли какие-либо трудности, пожалуйста, напишите нам <a href="mailto:info@arendapsvtb.by" style = "color: #30a5ff;text-decoration: none;">info@arendapsvtb.by</a>.</p>
<p style = "font-size: 14px!important;font-weight: normal;color: rgb(18, 43, 46);"><em>– С уважением, команда ArendaPsVTB</em></p>