<!-- Success modal order -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="orderModalTitle">Заказ успешно оформлен <i class="icon-check"></i></h3>
            </div>
            <div class="modal-body">
                <p>Для подтверждения заказа с вами свяжуться по телефону указанному при оформлении. В случае, если вам не перезвонили, просьба обратится по одному из телефонов:<br><b>+375(25) 642-59-24</b><br><b>+375(29) 217-77-01</b></p>
                <p>Спасибо, что доверились нам!</p>
            </div>
            <div class="modal-footer">
                <a href = "#" class="btn-theme btn-theme-sm btn-white-bg" onclick="location.reload(); return false;">Принято</a>
            </div>
        </div>
    </div>
</div>